html,body{
	width: 100%;
}
/**nav样式**/


.navbar_l{
margin-left: 46px;}
.navbar_r{
margin-right: 46px;}
.navbar_r li{
float: left;
width: 120px;
line-height: 80px;
text-align: center;

/*display: none;*/
}
.navbar_r li a{
display: block;
font-size: 20px;
line-height: 74px;
color: #333;}
.navbar_r li:hover a{
color: #866961;
border-bottom: 6px solid #866961;
}
/*banner*/
.banner{
	width: 100%;
}
.main{
border-top: 2px solid #fdf1bf;
}
.main .nav_top{
	padding-top: 35px;
	/*text-align: center;*/
	
}
.box>img{
	display: inline-block;
	height: 8px;
	width: 2px;
	
	/*vertical-align: middle;*/
	
}
.box:nth-child(2){
	margin-left: 30px;
}
.box:nth-child(3){
	margin-left: 30px;
}
.box span{
	display: inline-block;
	font-size: 16px;
	color: #333333;
	/*vertical-align: middle;*/
	font-weight: bold;
	margin-left: 6px;
	
}
.box p{
	font-size: 12px;
	color: #999;
}
.box1{
	margin-top: 15px;
	
}
.box1 span{
	font-size: 14px;

}
.box1 a{
	color: #999;
}
/*cop*/
.cop img{
	margin-top: 20px;
}
.cop p{
	font-size: 14px;
	color: #adadad;
	text-align: justify;
	text-indent: 2em;
	line-height: 24px;	
	
}
.cop p:first-of-type{
	margin-top: 24px;
	margin-bottom: 34px;
}
.cop p:last-of-type{
	margin-bottom: 42px;
}
/*footer*/
footer{	
	height: 80px;
	background-color: #866961;
}
footer ul{
	height: 100%;
	line-height: 80px;
	color: white;
	margin-left: 64px;
}
footer img{
	height: 80px;
	width: 145px;
	margin-left: 150px;
}