.banner{
	width: 100%;
	margin-bottom: 20px;
}
.banner>img{
	width: 100%;
}
/*新闻*/
.pro{
	text-align: right;
	cursor: pointer;
	margin-bottom: -6px;
}
.pro span:last-child{
	color: red;
}
.products_us1>span{
	display: inline-block;
	position: relative;
	margin-top:-9px;
	font-size: 20px;
	border: 1px solid #666666;
	border-top: none;
	width: 145px;
	line-height: 35px;
	text-align: center;
}
.products_us1 .white55{
	position: absolute;
	display: inline-block;
	width: 120px;
	height: 2px;
	background: #ffffff;
}
.products_us1 .onee{
	top: -2px;
	left: -2px;
}
.products_us1 .twoe{
	bottom: -1px;
	left: 23px;
}

.products_us1 .white11{
	display: inline-block;
	position: absolute;
	width: 1px;
	height: 20px;
	background: #FFFFFF;
	z-index: 1;
}
.products_us1 .threee{
	left: -1px;
	top: -1px;
}
.products_us1 .foure{
	left:143px;
	top: 16px;
}
/*主界面*/
.newsbox1{
	
	margin-top: 40px;
	margin-left: 185px;
	text-align: center;
	/*width: 100px;
	height: 100px;
	border: 1px solid red;*/
}
.main{
	position: relative;
}
.title{
	text-align: center;
	display: inline-block;
	font-size: 22px;
	border-bottom: 1px solid black;
	padding-bottom: 5px;
	
}
.main span{
	text-align: justify;
	display: inline-block;
	margin-top: 40px;
	margin-bottom: 30px;
}
.main hr{

	margin-top: 80px;
}
i{
	position: absolute;
	left: -12px;
	top: 729px;
}
.footer{
	/*display: block;*/
	margin-top: 50px;
}
